@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	background-image:url(nobelpriset2.png);
	background-position:center;
	background-attachment:fixed;
}

#storbox{
	width:80%;
	height:150%;
	position:absolute;
	margin-left:10%;
	
}

header{
	width:95%;
	height:7%;
	background-color:#009;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:70px;
	color:#FFF;
	text-align:center;
}

nav{
	background-color:#0082BF;
	height:15%;
	width:95%;
	overflow:hidden;
}

article{
	width:95%;
	height:60%;
	background-color:#FF9;;
	float:left;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
}



footer{
	background-color:#FF0;
	width:95%;
	height:7%;
	float:left;
	font-family:"Times New Roman", Times, serif;
	font-size:24px;
	
}
ul{
	list-style:none;
}

li{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:18px;
	float:left;
	margin-left:10%;
	text-align:center;
}


a:link{
	text-decoration:none;
	color:#00F;
}

a:visited{
	text-decoration:none;
	color:#000;
}

a:hover{
	text-decoration:blink;
	color:#0FF;
}

p{
	text-align:center;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight600;
	font-size:18px;
}

figcaption{
	text-align:center;
	font-size:12px;
}








	
